# env / secrets
**/.env

# python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.ruff_cache/

# virtualenvs
**/.venv/
**/venv/

# sqlite
**/*.db
**/*.sqlite
**/*.sqlite3

# OS / IDE
.DS_Store
.vscode/
.idea/
